@media (max-width: 1440px)
    .nav
        width 1200px
        margin-top 38px !important
    .IT-Row
        padding 0 260px !important
.nav
    margin-top 56px
    max-width 1440px
    .logo
        margin-left 54px
        font-size 30px
    .link
        margin-left 80px
        &:hover
            color #319bc3
    .active
        color #319bc3
.line
    border-bottom 1px solid #999