body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{ margin:0;}
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
ul, ol { list-style: none; }
body{font:12px "PingFangCS","微软雅黑",Arial,sans-serif; }
a { text-decoration: none; color:inherit;}
i, em{ font-style:normal;}
.clearfix:after{ display:block; visibility:hidden; clear:both; height:0; content:"";}
.clearfix{zoom:1;}