html, body
    width 100%
    height 100%
    overflow hidden
    text-align center
    #fullpage
        overflow hidden
        .section
            height 100vh
            overflow hidden
            position relative
        .section1
            background url('../images/bg@3x_8.jpg') no-repeat center
            background-size cover
            .solgin
                margin-top 0.4rem
                font-size 0.2rem
                letter-spacing: 0.08rem
                line-height 0.2rem
            .logo
                padding-top .86rem
                img 
                    width 3.44rem
                    height 3.02rem
            .comment
                font-size .2rem
                line-height .2rem
                .comment-content
                    margin 0 .1rem
                .comment-line
                    display inline-block
                    width 1.48rem
                    height .02rem
                    background-color #bd45be
                    vertical-align: middle
            .title
                margin .3rem 0
                font-size .74rem
                line-height .74rem        
            .subtitle
                font-size .44rem
                line-height .44rem
            .join
                margin-top 1.3rem
                .join-btn
                    width 4.28rem
                    height 1.18rem
            .model
                display none
                position absolute
                left 0
                top 0
                width 100vw
                height 100vh
                background-color rgba(0, 0, 0, .6)
                .form
                    // display none
                    .model-content
                        width 5.4rem
                        height 6.9rem
                        margin 1.8rem auto 0
                        padding-top .6rem
                        background url('../images/bg_model@3x.png') no-repeat
                        background-size contain
                        .model-title
                            font-size .32rem
                            line-height .32rem
                            color rgb(66, 76, 92)
                        .model-line
                            width .64rem
                        .model-input-container
                            margin-top .46rem
                            .model-input
                                display inline-block
                                width 4.5rem
                                height .58rem
                                border 1px solid rgb(158, 158, 158)
                                text-align-last left
                                padding-left .2rem
                                line-height .56rem
                                margin-bottom .4rem
                                font-size .16rem
                        .submit
                            padding-top .26rem
                            img 
                                width 2.12rem
                            .submit-info
                                color rgb(158, 158, 158)
                                font-size .18rem
                                line-height .18rem
                                margin-top .08rem
                    .model-close
                        margin-top .4rem
                        img
                            width .46rem
                .msg
                    display none
                    margin 4.6rem auto 0
                    .msg-content
                        position absolute
                        left 50%
                        transform translate(-50%, 0)
                        background url('../images/rect.png') no-repeat
                        background-size contain
                        width 4.12rem
                        height 1.52rem
                        .msg-icon
                            display none
                            width .48rem
                            height .48rem
                            vertical-align -.1rem
                            line-height 1.4rem
                            margin-right .1rem
                        .msg-text
                            font-size .32rem
                            color #424c5c
                            line-height 1.52rem
                        .msg-close
                            position absolute
                            width .16rem
                            height .16rem
                            top .26rem
                            right .26rem
                            background url('../images/close_l.png') no-repeat
                            background-size contain

        .next
            position absolute
            width 100vw
            bottom .8rem
            .next-arrow
                background #ff73b3 url('../images/next@3x.png')
                background-size cover
                width .58rem
                height .58rem
                border-radius: .29rem
                cursor pointer
                // transition all 2s
                animation next 3s linear infinite
            

        .section2
            background url('../images/bg2@3x_8.png') no-repeat center
            background-size cover
            .title
                position relative
                margin-top 1.8rem
                font .7rem 'AvenirNext-DemiBold',"Microsoft Yahei" 
                line-height .7rem
                text-align left
                padding-left .8rem
                &::after
                    content ''
                    position absolute
                    width .74rem
                    height .26rem
                    background url('../images/line2@3x.png') no-repeat
                    background-size contain
                    left .7rem
                    top .7rem
            .tools-container
                margin-top 1.54rem
                padding-left .78rem
                .items
                    text-align left
                    margin-bottom 1rem
                    .icon
                        position absolute
                        width .7rem
                        height .7rem
                        img 
                            width 100%
                            height 100%
                    .info
                        padding-left .98rem
                        padding-right .78rem
                        .item-name
                            font-size .26rem
                            line-height .26rem
                            margin-bottom .4rem
                        .item-intro
                            font-size .22rem
                            word-wrap normal
        .section3
            background url('../images/bg3@3x_8.png') no-repeat center
            background-size cover
            .cooperation
                padding-top 2rem
                .title
                    font .5rem 'AvenirNext-DemiBold',"Microsoft Yahei" 
                    line-height .5rem
                    margin-bottom .3rem
                .line3 
                    width .96rem
                    height .28rem
                .coops
                    padding-top .4rem
                    .coops-li
                        display inline-block
                        margin-right 1.2rem
                        &:last-child
                            margin-right 0
                        .coops-img 
                            height 1.16rem
                .footer
                    position absolute
                    width 100vw
                    bottom 1.16rem
                    .foot-title
                        font-size .22rem
                        line-height .22rem
                        margin-bottom .12rem
                        letter-spacing: .02rem
                    .foot-sub
                        font-size .12rem
                        line-height .12rem
                        letter-spacing: .02rem
    .debug
        display none
        position fixed
        top 0
        left 0
        width 100vw
        background-color #ccc
        color: #000



@keyframes next 
    0%
        box-shadow: 0 0 0 0 rgba(255, 115, 179, 0.6), 0 0 0 0 rgba(255,115, 179, 0)

    20%
        box-shadow: 0 0 0 .08 rgba(255, 115, 179, 0.4), 0 0 0 0 rgba(255,115, 179, 0)

    40%
        box-shadow: 0 0 0 .16rem rgba(255,115, 179, 0.2), 0 0 0 0 rgba(255, 115, 179, 0.6)

    60%
        box-shadow: 0 0 0 .24rem rgba(255,115, 179, 0), 0 0 0 .08 rgba(255, 115, 179, 0.4)

    80%
        box-shadow: 0 0 0 .24rem rgba(255,115, 179, 0), 0 0 0 .16rem rgba(255,115, 179, 0.2)

    100%
        box-shadow: 0 0 0 .24rem rgba(255,115, 179, 0), 0 0 0 .24rem rgba(255,115, 179, 0)

