doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        meta(name='keywords', content='')
        meta(name='description', content='')
        title 标题
        script(type='text/javascript').
            function browserRedirect() {
            var sUserAgent= navigator.userAgent.toLowerCase();
            var bIsIpad= sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs= sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp= sUserAgent.match(/midp/i) == "midp";
            var bIsUc7= sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc= sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid= sUserAgent.match(/android/i) == "android";
            var bIsCE= sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM= sUserAgent.match(/windows mobile/i) == "windows mobile";
            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                    // 控制缩放, 无h5情况下
                    var phoneWidth = parseInt(window.screen.width);
                    var phoneHeight = parseInt(window.screen.height);
                    var phoneScale = phoneWidth/1440;//除以的值按手机的物理分辨率
                    document.write('<meta name="viewport" content="width=device-width,initial-scale='+phoneScale+',minimum-scale='+phoneScale+',user-scalable=yes">');
                } else {
                    //- window.location.href= 'index.html';
                }
            }
            browserRedirect();
    body
        block content
        //- script.
            //- 可以引入页面脚本 